body {
    background-image: url(../images/office.jpg);
  }

  .container{
    position: relative;
    display: inline-block; /* Make the width of box same as image */
}


/* Style the links inside the navigation bar */
.navigations {
    background-color: darkred;
    overflow: hidden;
    float: right;
}

.navigations a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.navigations a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.navigations a.active {
    background-color: darkblue;
    color: white;
}